.container {
  & #illustration {
    margin-bottom: 10px;
    height: 258px;
    width: 100%;
    background: url("./assets/Images/about-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
  }
}
