/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0% 5% 0 5%;
  padding-top: 5%;
}

img {
  width: 100%;
  height: 100%;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  background: none;
  line-height: 1;
  cursor: pointer;
}

main {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header figure {
  width: 145px;
  height: 47px;
}
.header figure img {
  width: 100%;
  height: 100%;
}
.header nav {
  display: flex;
  align-items: center;
}
.header nav ul {
  display: flex;
  flex-direction: row;
}
.header nav ul .nav li {
  padding-left: 5px;
  font-weight: 500;
  font-size: 12px;
  color: #ff6060;
}
.header nav ul .nav-active {
  text-decoration: underline;
  text-decoration-color: #ff6060;
}

@media (min-width: 1024px) {
  .header nav ul .nav li {
    font-size: 24px;
    padding-left: 50px;
  }
}
.cards {
  display: grid;
  margin-top: 20px;
  gap: 20px;
}
.cards .card {
  height: 255px;
  width: 100%;
}
.cards .card figure {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.cards .card figure::before {
  bottom: 0;
  box-shadow: inset 0 -100px 75px -125px black;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 12;
  border-radius: 10px;
}
.cards .card figure img {
  object-fit: cover;
  border-radius: 10px;
}
.cards .card figure h2 {
  position: absolute;
  bottom: 15px;
  font-size: 18px;
  width: 80%;
  left: 20px;
  color: white;
  line-height: 25.67px;
}

/* Tablet responsive */
@media (min-width: 768px) and (max-width: 1023px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Dekstop responsive */
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;
    gap: 60px;
    justify-content: space-around;
  }
  .cards .card {
    height: auto;
    aspect-ratio: 1/1;
  }
}
footer {
  height: 209px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: black;
}
footer img {
  height: 40px;
  width: 122px;
}
footer span {
  color: white;
  font-size: 12px;
}

/* Desktop responsive */
@media (min-width: 1024px) {
  footer span {
    font-size: 24px;
  }
}
.collapses {
  display: flex;
}
.collapses--full, .collapses--md {
  flex-direction: column;
}
.collapses .collapse {
  margin: 10px 0;
}
.collapses .collapse__btn {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  height: 30px;
  border-radius: 5px;
  text-align: left;
  font-size: 13px;
  width: 100%;
}
.collapses .collapse__btn svg {
  width: 15px;
}
.collapses .collapse__content {
  margin-top: -3px;
  background-color: #f6f6f6;
  border-radius: 0 0 5px 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 142.6%;
  padding: 25px 11px;
}
.collapses .collapse__content span,
.collapses .collapse__content li {
  color: #ff6060;
  line-height: 17.11px;
}

/* DESKTOP */
@media (min-width: 768px) {
  .collapses--full {
    padding: 0 5em;
  }
  .collapses--md {
    flex-direction: row;
    gap: 35px;
  }
  .collapses .collapse--full {
    width: 100%;
  }
  .collapses .collapse--md {
    width: 100%;
  }
  .collapses .collapse__btn {
    line-height: 25.67px;
    width: 100%;
    height: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 18px;
  }
  .collapses .collapse__content span,
  .collapses .collapse__content li {
    font-size: 18px;
    line-height: 25.67px;
  }
}
.slideshowContainer {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
}
.slideshowContainer .prev, .slideshowContainer .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.slideshowContainer .prev svg, .slideshowContainer .next svg {
  height: 20px;
}
.slideshowContainer .prev {
  left: 0;
}
.slideshowContainer .next {
  right: 0;
}
.slideshowContainer .mediaContainer {
  flex: 0 0 100%;
  position: relative;
  width: 100%;
  height: 255px;
}
.slideshowContainer .mediaContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.slideshowContainer .mediaContainer figcaption {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 18px;
  color: white;
}

/* DESKTOP */
@media (min-width: 1024px) {
  .slideshowContainer .prev svg, .slideshowContainer .next svg {
    height: 80px;
  }
  .slideshowContainer .mediaContainer {
    height: 415px;
  }
  .slideshowContainer .mediaContainer figcaption {
    visibility: visible;
  }
}
.container .background {
  position: relative;
  width: 100%;
  height: 111px;
}
.container .background h1 {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  font-weight: 500;
}
.container .background--about {
  margin-bottom: 10px;
  height: 223px;
  width: 100%;
  border-radius: 25px;
}
.container .background img {
  filter: brightness(70%);
  border-radius: 10px;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .container main .background {
    height: 223px;
  }
  .container main .background h1 {
    width: 100%;
    text-align: center;
    font-size: 48px;
  }
}
.container main {
  margin: 20px 0;
}

@media (min-width: 1024px) {
  .container main {
    margin: 50px 0;
  }
}
.container .notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}
.container .notFoundContainer .notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}
.container .notFoundContainer .notFound h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 137px;
  letter-spacing: 0em;
  color: #ff6060;
}
.container .notFoundContainer .notFound span {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ff6060;
}
.container .notFoundContainer button {
  color: #ff6060;
  background: none;
  text-decoration: underline;
  text-decoration-color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  text-align: center;
}

@media (min-width: 1024px) {
  .container .notFoundContainer .notFound {
    margin-top: 120px;
  }
  .container .notFoundContainer .notFound h1 {
    font-size: 288px;
    margin-bottom: 120px;
  }
  .container .notFoundContainer .notFound span {
    font-size: 36px;
  }
  .container .notFoundContainer button {
    font-size: 18px;
  }
}
.container .accommodationInfo {
  margin-top: 15px;
}
.container .accommodationInfo .accommodationContent {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container .accommodationInfo .accommodationContent .accommodationTitle {
  grid-column: 1/span 3;
}
.container .accommodationInfo .accommodationContent .accommodationTitle h1, .container .accommodationInfo .accommodationContent .accommodationTitle h3 {
  color: #ff6060;
}
.container .accommodationInfo .accommodationContent .accommodationTitle h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.container .accommodationInfo .accommodationContent .accommodationTitle h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.container .accommodationInfo .accommodationContent .accommodationTags {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/span 3;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.container .accommodationInfo .accommodationContent .accommodationTags li {
  border-radius: 5px;
  color: white;
  display: inline;
  background-color: #ff6060;
  padding: 3px 22px;
  font-size: 10px;
  font-weight: 500;
  line-height: 142.6%;
}
.container .accommodationInfo .accommodationContent .accommodationRating {
  grid-column: 1/1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.container .accommodationInfo .accommodationContent .accommodationHost {
  grid-column: 3/3;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.container .accommodationInfo .accommodationContent .accommodationHost h2 {
  text-align: right;
  width: min-content;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  color: #ff6060;
}
.container .accommodationInfo .accommodationContent .accommodationHost img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

/** DESKTOP */
@media (min-width: 1024px) {
  .container .accommodationInfo {
    margin-top: 30px;
  }
  .container .accommodationInfo .accommodationContent {
    display: grid;
    grid-template-columns: 45% 45% 10%;
    grid-row: 2/2;
    grid-column: 1/span 3;
    gap: 0;
  }
  .container .accommodationInfo .accommodationContent .accommodationTitle {
    grid-column: 1/3;
  }
  .container .accommodationInfo .accommodationContent .accommodationTitle h1, .container .accommodationInfo .accommodationContent .accommodationTitle h3 {
    margin: 5px 0;
    margin-bottom: 15px;
  }
  .container .accommodationInfo .accommodationContent .accommodationTitle h1 {
    margin-top: 0;
    line-height: 52px;
    font-size: 36px;
  }
  .container .accommodationInfo .accommodationContent .accommodationTitle h3 {
    font-size: 18px;
  }
  .container .accommodationInfo .accommodationContent .accommodationTags {
    grid-row: 2/2;
    grid-column: 1/span 2;
    height: 100%;
  }
  .container .accommodationInfo .accommodationContent .accommodationTags li {
    font-size: 14px;
    padding: 5px 20px;
  }
  .container .accommodationInfo .accommodationContent .accommodationRating {
    justify-content: flex-end;
    grid-column: 3/3;
  }
  .container .accommodationInfo .accommodationContent .accommodationHost {
    grid-row: 1/1;
    grid-column: 3/3;
    padding-top: 15px;
  }
  .container .accommodationInfo .accommodationContent .accommodationHost h2 {
    font-size: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
